.Container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.6rem;
}

.Container .InputWrapper {
    display: flex;
    position: relative;
    width: 100%;
    transition: flex-grow 0.9s ease, width 0.9s ease;
}

.Container .InputWrapper input {
    width: 100%;
    min-height: 34px;
    line-height: 1.75;
    padding: 0.3rem 1.6rem;
    background-color: var(--input-search-color);
    font-size: 1rem;
    border-color: rgb(140 140 140 / 0.2);
    border-radius: 0.4rem;
    color: black;
    transition: width 0.12s ease-out, flex-grow 0.12s ease-out;
}

.Container .InputWrapper .Search_icon {
    position: absolute;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    padding-inline-start: 0.2rem;
    width: min(20px, 80%);
    height: min(20px, 80%);
}

.Container .InputWrapper:focus-within ~ :nth-child(2),
.Container .InputWrapper:active ~ :nth-child(2) {
    display: none;
    pointer-events: none;
}

@media (min-width: 768px) {
    .Container {
        width: auto;
    }

    .Container .InputWrapper {
        flex-grow: 0;
        transition: flex-grow 0.9s ease, width 0.9s ease;
    }

    .Container .InputWrapper input {
        width: min(40vw, 80%);
        transition: width 0.9s ease;
    }

    .Container .InputWrapper input:focus {
        width: min(40vw, 100%);
    }
}
