.RightContainer{
    background-color: white;
    border-radius: .8rem;
    height: max-content;
    padding-block: .8rem;
    padding-inline: .4rem; 
    max-width: 100%;

    & > h3 {
     font-size: clamp(1rem, 1vw, 2rem);
     font-weight: 500;
    }

    & > div{
        display: flex;
        flex-direction: column;
        gap:.6rem;
        width: 100%;

        & > div{
            display: flex;
            flex-direction: row;
            gap: .8rem;
            font-size: clamp(.6rem, 1vw, 1.3rem);
            font-weight: 400; 
    
            & > div {
                display: flex;
                flex-direction: column;  
                padding-block: .4rem;
                padding-inline: .4rem;
                z-index: 9;
                cursor: pointer; 
                width: 90%; 
                overflow: hidden;

                & > h3{
                    margin-block-start: 0; 
                }

                &  > p{
                    font-size: clamp(.4rem, 1vw, .8rem); 
                    margin-block-start: -10px;
                    width: auto;
                }
           }
           
    
           
        }
    }

    & .UserLayout{
        width: min(30vw, 50px);
        height: min(30vw, 50px);  
    }

}

.RightContainer .CustomBtn{
    border: 1px solid gray;
    width:fit-content;
    position: relative;
}

 


 