:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  interpolate-size: allow-keywords;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --black-06: rgb(0 0 0 / .6);
  --input-search-color: #edf3f8;
  --custom-gray: rgb(140 140 140/.2);
  --logo-color:#0A66C2;
  --custom-background: #F3F2EF;
}



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--custom-background);
}

.IconLayout{
  width: min(10vw, 30px);
  height: min(10vw, 30px);
  color: var(--black-06);
  cursor: pointer;
  position: relative;
}

 
