@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.BtnWrapper{
    background: white;
    cursor: pointer;
    color: gray;
    padding-inline: 0.9rem;
    padding-block: 0.4rem;
    position: relative;
    border-radius: 10px;
    width: fit-content; 
    border: none; 
}

.BtnWrapper:focus::before,
.BtnWrapper:active::before{
    content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: conic-gradient(from var(--angle),  transparent 50%, blue 25% , red);
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: -1;
        border-radius: 10px;
        padding: .2rem;
        animation: spinAround 3s linear infinite;
}


@keyframes spinAround {
    from{
    --angle:0deg;
    }
    to{
    --angle:360deg;
    }
}
